/****************************
Genral Styles
***************************/

*, *before, *after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: #F9F9F9;
  font-size: 16px;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; 
}

a {
  text-decoration: none; 
}
.btn {
  background: transparent;
  border: none;
}

/****************************
Header Styles
***************************/
.header {
  background-color: #fff;
  box-shadow: 0 3px 2px -2px lightgray;
  margin: 0;
  padding-top: 5px;
}
.constrain_width{
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
}

.search_icon {
  padding-left: 10px;
  color: grey;
}
.search_bar {
  width: 240px;
  padding: 5px;
  border: none;
}
.search_bar:focus {
  outline: none;
}
.drop_down {
   margin: 0 5px 3px 10px;

}
.drop_down a,
.login a {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #999;
  letter-spacing: 1px;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
}
.drop_down a:hover,
.login a:hover {
  color: red;
}
.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #f9f9f9;
  margin-top: 5px;
}
.nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  color: #999;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 12px;
}
.active {
  background-color: #f9f9f9;
  font-weight: bold;
}
.nav_items:hover {
  background-color: #f9f9f9;
}

/****************************
Main Content Styles
***************************/

.main_content_wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.main_content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sub_wrapper{
  margin: 20px 30px 0 0;
  width: 1000px;
  border: 1px solid lightgray;
  background-color: #fff;

}
.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f9f9f9;
  padding: 0 15px;
  font-size: 14px;
 /* font-size: 1.4rem;*/
  color: #999;
}
.item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f9f9f9;
  padding: 15px;
}
.item_wrap:hover {
  background-color: #f9f9f9;
}
.item_img {
  width: 100px;
  height: 100px;
}
.items {
  padding-left: 25px;
  color: #777;
}
.item_title {
  color: #333;
  font-size: 1.6rem;
}
.item_description {
  font-size: 1.3rem;
  max-width: 500px;
}
.btn_item {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px;
  font-size: 1.3rem;
}
.em {
  font-size: 1.1rem;
  padding-left: 8px;
}
.em_text {
  font-size: 1.1rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-weight: 300;
}

.side_box {
  background-color: #fff;
  border: 1px solid lightgray;
  width: 250px;
  height: 200px;
  margin: 20px 0;
  color: #999;
  display: none;
}
.side_box_btn {
  background-color: green;
  width: 90%;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.7px;
  letter-spacing: .07rem;
}
.chat_bar {
  background-color: #fff;
  border: 1px solid lightgray;
  width: 250px;
}
.chat_header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  color: #999;
  border-bottom: 1px solid #f9f9f9;
  
}
.chat_items_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}
.chat_items {
  font-size: 12px;
  font-size: 1.2rem;
  /*padding-left: 5px;*/

}
.chat_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 20px 20px;
}

@media screen and (min-width: 768px) {
  
  .search_bar {
  width: 450px;
  }
  

}
@media screen and (min-width: 1024px) {
  .search {
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  }
  .search_bar {
  width: 880px;
  }
  .side_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

}
