
<div class="item_wrap">
	<img src="http://placebeard.it/210/150?31" alt="beared man" class="item_img">
	<div class = "items">
		<h3 class = "item_title"><%= product.title %></h3>
			<p class ="item_description"><%= product.description %></p>
			<a href="#"><button class="btn_item"><i class="fa fa-sort-asc" aria-hidden="true"> 999</i></button></a>
			<a href="/comments"><button class="btn_item"><i class="fa fa-comment-o" aria-hidden="true"> 56</i></button></a>
			<a href="#"><button class="btn_item"><i class="fa fa-link" aria-hidden="true"> link</i></button></a>
	</div>
</div>
		
