<section class="sub_wrapper">
		
	<div class="sub_header">
		<h2>Popular this week</h2>
		<i class="fa fa-times exit_icon" aria-hidden="true"></i>
	</div>
			
			
	<%= render @products %>
					
				
</section>

<section class="sub_wrapper">
		
	<div class="sub_header">
		<h2>Popular this week</h2>
		<i class="fa fa-times exit_icon" aria-hidden="true"></i>
	</div>


	<%= render @products %>
					
				
</section>
